.game-header {
  align-items: center;
  display: flex;
  font-family: var(--font-caveat), Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 2rem;
  max-width: 1300px;
}

.turn-title {
  font-size: 2.5rem;
  margin: 0;
}

.counts {
  display: flex;
  gap: 2rem;
}

.counts--objects {
  display: none;
}

.board-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 6fr 1fr;
  margin: 0 auto;
  padding: 2rem 0;
  max-width: var(--content-width);
  position: relative;
}

.objects {
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(6, 1fr);
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.board {
  display: grid;
  border-left: 1px solid black;
  border-right: 1px solid black;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
  list-style: none;
  margin: 0;
  padding: 0 1rem;
}

.card {
  align-items: center;
  display: flex;
  height: 100%;
  background-color: cadetblue;
  border: .5rem solid white;
  border-radius: 2rem;
  box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, .2);
  text-shadow: 1px 1px 2px black;
  color: white;
  cursor: pointer;
  font-size: 2.5rem;
  padding: 1rem;
  padding-top: 1.2rem;
  transition: box-shadow .5s ease-in-out;
  justify-content: center;
  position: relative;
  width: 100%;
}

.card:hover:not(.card--disabled) {
  box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, .2);
}

.card:active:not(.card--disabled) {
  box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, .2);
}

.card--draw {
  animation: pulse 2s infinite;
}

.card--draw {
  font-size: 2.7rem;
}

.card.card--disabled {
  cursor: initial;
}

.board:not(.board--draw) .card:not(.card--active) {
  opacity: .6;
}

.board--active .card.card--active {
  animation: pulse 2s infinite;
}

.card.card--object {
  border-color: darksalmon;
}

.card.card--object-revealed {
  border-color: green;
}

.card.card--enemy-barco {
  border-color: darkred;
}

.card.card--enemy-sol {
  border-color: darkslategray;
}

.card.card--object.card.card--enemy-barco {
  background-color: darkred;
  border-color: darksalmon;
}

.card.card--object.card.card--enemy-sol {
  background-color: darkslategray;
  border-color: darksalmon;
}

.enemy-rows {
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(6, 1fr);
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.game-actions {
  text-align: center;
  position: absolute;
  inset: 0;
}

.game-actions .btn {
  box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, .2);
}

.game-actions .btn:hover {
  box-shadow: 8px 16px 16px 0 rgba(0, 0, 0, .2);
}

.players {
  align-items: center;
  border: 2px solid black;
  border-radius: 50%;
  box-shadow: 1px 1px 0 1px black;
  display: inline-flex;
  font-size: 1.5rem;
  height: 2.4rem;
  justify-content: center;
  width: 2.4rem;
}

.players--barco {
  background-color: darkred;
}

.players--sol {
  background-color: darkslategray;
}

.card .players {
  font-size: 2rem;
  height: 3rem;
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 3rem;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@media screen and (max-width: 1350px) {
  .game-header {
    flex-direction: column;
    font-size: 2rem;
    gap: 1rem;
    justify-content: center;
  }

  .turn-title {
    font-size: 2rem;
  }

  .board-wrapper {
    display: block;
    padding-bottom: 150px;
    position: relative;
  }

  .objects {
    display: none;
  }

  .counts--objects {
    display: block;
  }
  
  .board {
    border: 0;
    margin: 0 auto;
    max-width: 1000px;
  }

  .board--active.board--draw {
    opacity: .7;
  }

  .enemy-rows {
    display: block;
    bottom: 1rem;
    right: 1rem;
    position: absolute;
  }

  .enemy-rows--top {
    bottom: unset;
    top: 1rem;
  }
  
  @media screen and (orientation: portrait) {
    .game-header,
    .board-wrapper {
      min-width: 660px;
    }
    
    .board {
      padding: 0 1rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .card.btn {
    font-size: 2.5rem;
  }
}

