/*main header*/
.main-header{ position: relative; width: 100%; height: 70px; background: #fbeee0; z-index: 99; box-shadow: 0 0 10px rgba(0,0,0,0.1); flex-shrink: 0; }
.main-header .content{ display: flex; justify-content: space-between; height: 100%; }

.main-header .main-nav{ display: flex; width: 100%; }
.main-header .main-nav .main-nav-home-link { display: flex; align-items: center; text-decoration: none; font-size: 2rem; }

.main-header .menu-toggle { display: none; }

.main-header .main-nav .menu-content{ margin-left: 50px; }
.main-header .main-nav .menu-content li{ display: inline-block; margin: 0 15px; }
.main-header .main-nav .menu-content li a{ text-decoration: none; font-weight: 600; color: #000; display: block; padding: 0; line-height: 69px; font-family: var(--font-poppins); transition: all .3s; font-size: .9em; position: relative; }
.main-header .main-nav .menu-content li a:hover,
.main-header .main-nav .menu-content li a.active{ color: #145da0; }

.main-header .main-nav .menu-content li a:after{ content: ""; width: 0; height: 2px; display: block; background: #145da0; transition: all .3s; position: absolute; bottom: -1px; left: 0; }
.main-header .main-nav .menu-content li a:hover:after{ content: ""; width: 100%; height: 4px; display: block; background: #145da0; }
.main-header .main-nav .menu-content li a.active:after{ content: ""; width: 100%; height: 4px; display: block; background: #145da0; }

.main-header .right-options { display: flex; height: 100%; align-items: center; margin-left: auto; }

.main-header .right-options .language-button{ border: none; position: relative; width: 40px; height: 40px; padding: 0; margin-left: 5px; border-radius: 5px; transition: all .3s; padding: 0; display: flex; align-items: center; justify-content: center; }
.main-header .right-options .language-button img{ width: 25px; height: 25px; }
.main-header .right-options .language-button:hover{ background: #EEE; }

.main-header .right-options #dropdown-lang figure{ position: relative; width: 25px; height: 25px; margin: 0;}
.main-header .right-options #dropdown-lang img{ width: 100%; height: 100%; }

.main-header .right-options #dropdown-lang{ width: 145px; left: auto; right: 0; top: 60px; padding-bottom: 5px; }
.main-header .right-options #dropdown-lang ul{ margin: 0; padding: 0; }
.main-header .right-options #dropdown-lang li{ margin-bottom: 5px; }
.main-header .right-options #dropdown-lang li button{ justify-content: center; text-decoration: none; color: #000; font-weight: 500; font-size: .9em; display: flex; width: 100%; align-items: center; height: 35px; border-radius: 5px; transition: all .3s; padding: 0 5px; gap: .5rem; }
.main-header .right-options #dropdown-lang li button:hover{ background: #EEE; }
.main-header .right-options #dropdown-lang li button figure{ border-radius: 4px; overflow: hidden; display: inline-block; position: relative; }
.main-header .right-options #dropdown-lang li button figure img{ width: 100%; }