.loader{ position: fixed;  display: flex; align-items: center; flex-direction: column; justify-content: center; background: rgba(0,0,0,0.6); top: 0; left: 0; z-index: 999999; width: 100dvw; height: 100dvh; transition: all .3s; visibility: hidden; transition: all .3s; }

.loader.active{ opacity: 1; visibility: visible; }
.loader span{ display: inline-block; }

.loader-message { display: block; color: #fff; margin-bottom: 10px; text-align: center; }

.spinner{ position: relative; width: 54px; height: 54px; }
.spinner div{ box-sizing: border-box; display: block; position: absolute; width: 44px; height: 44px; margin: 4px; border: 3px solid #fff; border-radius: 50%; animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite; border-color: #FFF transparent transparent transparent; }
.spinner div:nth-child(1){ animation-delay: -0.45s; }
.spinner div:nth-child(2){ animation-delay: -0.3s; }
.spinner div:nth-child(3){ animation-delay: -0.15s; }

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}