.popover{
  background: #FFF;
  padding: 1rem;
  box-shadow: 8px 16px 16px 0 rgba(0, 0, 0, .2);
  border-radius: 10px;
  display: inline-block;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  max-height: 0;
  max-width: 0;
  transition: opacity .3s;
  right: 2rem;
  z-index: 99999;
}
.popover--top {
  margin-bottom: 2rem;
  bottom: 100%;
}
.popover--bottom {
  margin-top: 2rem;
  top: 100%;
}
.popover--left {
  margin-right: 2rem;
  right: 100%;
}
.popover--right {
  margin-left: 2rem;
  left: 100%;
}
.popover.show{ opacity: 1; visibility: visible; overflow: visible; min-width: 300px; max-height: 80dvh; overflow: auto; }
.popover .popover-title{ font-weight: bold; margin-bottom: 20px; margin-top: 0; }