.tutorial-wrapper {
  margin: 0 auto;
  padding: 1rem 0;
  max-width: var(--content-width);
}

.tutorial-container {
  position: relative;
}

.tutorial-card {
  background: #FFF;
  position: absolute;
  padding: 1rem;
  font-size: 1.5rem;
  box-shadow: 8px 16px 16px 0 rgba(0, 0, 0, .2);
  border-radius: 10px;
  display: block;
  position: absolute;
  max-height: 80dvh;
  overflow: auto;
  max-width: 500px;
  z-index: 99999;
}

.tutorial-card-title{
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 0;
}

.tutorial-btn-wrapper {
  text-align: right;
}

.tutorial-card--2 {
  bottom: 10rem;
  right: 1rem;
}

.tutorial-card--3 {
  top: 10rem;
  right: 1rem;
}

.tutorial-card--4,
.tutorial-card--5,
.tutorial-card--6 {
  left: 20rem;
}

.tutorial-card--4 {
  top: 20rem;
}

.tutorial-card--5,
.tutorial-card--6  {
  top: 2rem;
}

.tutorial-card--7 {
  bottom: 19rem;
  right: 0;
}

.tutorial-card--8 {
  top: 11rem;
  left: 24rem;
}

.tutorial-card--11,
.tutorial-card--10 {
  top: 11rem;
  right: 14rem; 
}

@media screen and (max-width: 1350px) {
  .tutorial-card--3 {
    right: 15rem;
  }

  .tutorial-card--4,
  .tutorial-card--5,
  .tutorial-card--6 {
    left: 13rem;
  }

  .tutorial-card--5,
  .tutorial-card--6  {
    top: 4rem;
  }

  .tutorial-card--7 {
    bottom: 8rem;
    right: 2rem;
  }

  .tutorial-card--8 {
    top: 10rem;
    left: 15rem;
  }

  .tutorial-card--11,
  .tutorial-card--10 {
    top: 10rem;
    right: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .tutorial-card {
    font-size: 2rem;
  }

  .tutorial-card-title {
    font-size: 2.5rem;
  }
}